body {
    background: rgb(130, 160, 214);
    font-family: monospace;
    color: whitesmoke;
}

header {
    text-align: center;
    font-weight: 300;
    background: #333;
    color: white;
    height: 110px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

#h1 {
    background-image: url(../InternetDelTodo/IMG/iot-4085382_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 40px;
    height: 63px;
    padding-top: 0px;
    margin-top: -4px;
    margin-bottom: -4px;
    color: red;
}

p {
    text-align: center;
    font-size: 30px;
}

#img2 {
    margin: 10px auto;
    display: block;
}

#h1 {
    text-align: center;
    font-size: 40px
}

#p1 {
    text-align: right;
}

#p2 {
    text-align: left;
}

#im3 {
    width: 800px;
    height: 410px;
    float: right;
    margin: 10px;
}

#im4 {
    width: 600px;
    height: 310px;
    float: left;
    margin: 10px;
}

.div {
    background-image: url(../InternetDelTodo/IMG/Impact-IOT.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    background-size: cover;
}

.Textdiv {
    color: rgb(0, 0, 0);
}